@import "tailwindcss";
@import "./animations.css";
@import "./header.css";
@import "./footer.css";
@import "./inputs.css";

:root {
  --background: #FBCB03;
  --foreground: #3C3511;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--inria-sans);
  --font-heading: var(--din-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBCB03;
    --foreground: #3C3511;
  }
}

html {
  font-size: clamp(16px, 1.2vw, 23px);
}

.text-sm {
  font-size: clamp(13px, 1vw, 19px);
}

.text-main-headline {
  font-size: clamp(20px, 8.8vw, 162px);
}

.text-headline {
  font-size: clamp(18px, 3.5vw, 60px);
  line-height: 1!important;
}

body {
  @apply font-sans;
  background: var(--background);
  color: var(--foreground);
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
  color: #272926;
}

.din-black {
  font-family: var(--din-black);
}

.bg-primary {
  background-color: var(--color-background);
}

.bg-secondary {
  background-color: var(--color-foreground);
}

.min-h-screen {
  min-height: 100vh;
  min-height: 100lvh;
}

.text-white {
  color: #FFFFFF!important;
}

.yellow-gradient {
  background: linear-gradient(
    to bottom,
    #FEE934 0%,
    #FDD816 63%,
    #FEDC19 64%,
    #FCCB05 100%
  );
}