@import "tailwindcss";
@import "./animations.css";
@import "./header.css";
@import "./footer.css";
@import "./inputs.css";

:root {
  --background: #FBCB03;
  --foreground: #3C3511;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --inria-sans: var(--inria-sans);
  --font-heading: var(--din-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBCB03;
    --foreground: #3C3511;
  }
}

body {
  @apply inria-sans;
  background: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
  color: #272926;
}

.din-black {
  @apply font-heading;
}

.bg-primary {
  background-color: var(--color-background);
}

.bg-secondary {
  background-color: var(--color-foreground);
}

.max-width {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.min-h-screen {
  min-height: 100vh;
  min-height: 100lvh;
}